Repository ORNL/DataFed, pull requests merged in 2023-10, with the labels that each got.

#913 Essentially started adding a test for the json object and also fixed …
  CHANGELOG.md
  common/include/common/libjson.hpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_Value.cpp
  core/server/GlobusAPI.cpp
  core/server/main.cpp
Labels: Type: Bug, Priority: High, Component: Core, Type: Test

#910 Joshua s brown fix ci part2
  .github/workflows/format-check.yml
  .gitlab-ci.yml
  CHANGELOG.md
  common/tests/unit/test_SocketOptions.cpp
  doc_source/source/conf.py
  python/datafed_pkg/datafed/CLI.py
  python/datafed_pkg/datafed/CommandLib.py
  python/datafed_pkg/datafed/Config.py
  python/datafed_pkg/datafed/Connection.py
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/datafed/__init__.py
  python/datafed_pkg/make_ver.py
  python/datafed_pkg/setup.py
  python/datafed_pkg/test/Test_EndToEnd.py
  python/datafed_pkg/test/Test_ObjectReturn.py
  python/datafed_pkg/test/data_gen.py
  python/datafed_pkg/test/security.py
  python/pyproto_add_msg_idx.py
  scripts/ci_pipeline_setup.sh
  scripts/ci_purge_images.sh
  scripts/install_core_dependencies.sh
  scripts/install_repo_dependencies.sh
  scripts/install_ws_dependencies.sh
  tests/end-to-end/setUp.py
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
  tests/end-to-end/test_api_user_login.py
Labels: Component: Build, Type: Refactor, Priority: Medium, Type: Test

#906 Add helper admin scripts
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  common/include/common/libjson.hpp
  common/tests/unit/CMakeLists.txt
  common/tests/unit/test_Value.cpp
  core/server/GlobusAPI.cpp
  core/server/main.cpp
  scripts/generate_certificate_refresh_script.sh
  scripts/generate_datafed.sh
  scripts/generate_datafed_backup_script.sh
Labels: Type: New Feature, Component: Web UI, Component: Database, Priority: Medium

#909 Blake Nedved - Add support for Google Analytics
  CHANGELOG.md
  scripts/generate_datafed.sh
  scripts/generate_ws_config.sh
  web/datafed-ws.js
  web/views/head.ect
Labels: Type: New Feature, Component: Web UI
