Repository ORNL/DataFed, pull requests merged in 2024-08, with the labels that each got.

#971 Joshua s brown fix check ci infrastructure script
  .gitlab/end_to_end.yml
  .gitlab/infrastructure.yml
  .gitlab/stage_provision_client.yml
  scripts/ci_pipeline_setup.sh
  scripts/dependency_install_functions.sh
  scripts/install_end_to_end_test_dependencies.sh
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_context.py
  tests/end-to-end/test_api_endpoint.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
  tests/end-to-end/test_api_user_login.py
Labels: Priority: High, Component: Build

#973 Add error log output if end-to-end test fails
  .gitlab-ci.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  CHANGELOG.md
  python/datafed_pkg/datafed/MessageLib.py
  python/datafed_pkg/setup.py
Labels: Component: Build

#967 Bug add missing env variable to compose file.
  compose/repo/compose.yml
Labels: Type: Bug, Component: Build

#981 Joshua s brown schema html escape fix
  CHANGELOG.md
  web/static/dlg_schema_list.js
Labels: Type: Bug, Priority: High

#983 Added nonce attribute to google analytics scripts
  CHANGELOG.md
  web/views/head.ect
Labels: Component: Web UI, Priority: Medium

#991 Joshua s brown stop containers before clearing
  .gitlab/stage_clear_cache.yml
  CHANGELOG.md
Labels: Component: CLI, Component: Build

#918 Added draft script to toggle admin accounts on DataFed
  CHANGELOG.md
  scripts/admin_toggle_user_acccount.sh
Labels: Type: New Feature, Component: Scripts

#988 Joshua s brown dylan main subscribe
  CHANGELOG.md
  web/static/main_browse_tab.js
Labels: Component: Web UI

#958 initial fixes for worst files
  CHANGELOG.md
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/server/DatabaseAPI.cpp
  python/datafed_pkg/datafed/CLI.py
  scripts/admin_get_user_emails.sh
  scripts/globus/clean_globus.sh
  scripts/globus/generate_repo_form.sh
  scripts/install_authz.sh
  scripts/install_core_service.sh
  scripts/install_gcs.sh
  scripts/install_repo.sh
  scripts/install_repo_service.sh
  scripts/install_ws_service.sh
  scripts/run_core_service.sh
  scripts/run_ws_service.sh
  scripts/uninstall_all.sh
  tests/end-to-end/test_api_alloc.py
  tests/end-to-end/test_api_collection.py
  tests/end-to-end/test_api_record.py
  tests/end-to-end/test_api_repo.py
Labels: Component: Database, Component: Core, Component: CLI, Component: Python API, Type: Refactor

#995 prevent project and user folder in repo from being created as root user
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_build.yml
  .gitlab/stage_clear_cache.yml
  CHANGELOG.md
  repository/docker/entrypoint_authz.sh
Labels: Type: Bug, Component: Build, Priority: Medium

#962 Add CI commit hash tag to docker images
  .gitlab-ci.yml
  .gitlab/build/build_core_image.yml
  .gitlab/build/build_foxx_image.yml
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/build_repo_image.yml
  .gitlab/build/build_ws_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_build.yml
  .gitlab/stage_clear_cache.yml
  CHANGELOG.md
  scripts/ci_harbor_artifact_count.sh
Labels: Component: Build, Type: Refactor, Priority: Medium

#998 Add latest tag
  .gitlab/build/build_gcs_base_image.yml
  .gitlab/build/build_gcs_image.yml
  .gitlab/build/force_build_gcs_base_image.yml
  .gitlab/build/force_build_gcs_image.yml
  .gitlab/common.yml
  CHANGELOG.md
Labels: Type: Bug, Component: Build
