Repository ORNL/DataFed, pull requests merged in 2024-10, with the labels that each got.

#1002 Added DB connection back off
  .gitlab/end_to_end.yml
  CHANGELOG.md
  core/server/TaskWorker.cpp
  repository/docker/entrypoint_authz.sh
  scripts/compose_generate_globus_files.sh
  scripts/install_lego_and_certificates.sh
Labels: Component: Core, Type: Refactor

#986 Joshua s brown dylan xfer dlg
  CHANGELOG.md
  web/static/dlg_start_xfer.js
  web/static/jquery-ui-dark/datafed.css
  web/static/jquery-ui-light/datafed.css
Labels: Component: Web UI, Type: Refactor

#985 Joshua s brown dylan xfer timeout
  CHANGELOG.md
  web/static/dlg_start_xfer.js
Labels: Component: Web UI
