Repository ORNL/DataFed, pull requests merged in 2025-01, with the labels that each got.

#1194 Feature DLT 1109 foxx new token data
  CHANGELOG.md
  core/database/CMakeLists.txt
  core/database/foxx/api/support.js
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/support.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_fixture_setup.sh
Labels: Priority: High, Type: New Feature, Component: Database, Type: Test

#1181 1180 refactor foxx authz
  .gitlab/build/build_foxx_image.yml
  CHANGELOG.md
  core/database/CMakeLists.txt
  core/database/README.md
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/api/support.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/path.test.js
  core/database/foxx/tests/record.test.js
  core/database/tests/test_foxx.sh
Labels: Priority: High, Component: GridFTP Auth Module, Component: Build, Type: Refactor, Type: Test, Component: Scripts

#1221 1219 daps bug gitlab ci gcs log
  .gitlab/common.yml
  .gitlab/end_to_end.yml
  .gitlab/stage_unit.yml
Labels: Type: Bug, Component: Build

#1218 1216 daps feature add improved ci scanning
  .gitlab-ci.yml
  .gitlab/stage_test.yml
Labels: Component: Build, Type: Test

#1227 Update nlhoman json version
  .github/workflows/unit-tests.yml
Labels: Priority: High, Component: Build

#1217 Feature DLT 1127 relay new token data
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  core/server/DatabaseAPI.cpp
  core/server/DatabaseAPI.hpp
Labels: Component: Core

#1208 [DLT-1110] Mapped Collection Endpoint Browse (1/4)
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Labels: Component: Web UI, Type: Refactor

#1207 [DLT-1110] Mapped Collection Endpoint Browse Tests (2/4)
  .github/workflows/javascript-format.yml
  web/.mocharc.cjs
  web/package.json.in
  web/test/components/transfer/transfer-dialog-controller.test.js
  web/test/components/transfer/transfer-endpoint-manager.test.js
  web/test/components/transfer/transfer-ui-manager.test.js
  web/test/fixtures/transfer-fixtures.js
  web/test/setup.js
Labels: Component: CI

#1210 1209 feature add jsdoc linter
  .github/workflows/javascript-lint.yml
  core/database/foxx/api/authz.js
  core/database/foxx/api/data_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/process.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo_router.js
  core/database/foxx/api/support.js
  core/database/foxx/api/task_router.js
  core/database/foxx/api/tasks.js
  eslint.config.js
  web/static/jquery/jquery.js
  web/static/main_browse_tab.js
  web/static/util.js
Labels: Type: Refactor, Component: CI

#1234 Fix bug on task_router.js abort function
  core/database/foxx/api/task_router.js
Labels: Type: Bug, Component: Database

#1224 [DAPS, Foxx] - 1180 refactor Part 2 authz
  core/database/CMakeLists.txt
  core/database/foxx/api/authz.js
  core/database/foxx/api/authz_router.js
  core/database/foxx/api/posix_path.js
  core/database/foxx/api/record.js
  core/database/foxx/api/repo.js
  core/database/foxx/tests/authz.test.js
  core/database/foxx/tests/authz_router.test.js
  core/database/foxx/tests/record.test.js
  core/database/foxx/tests/repo.test.js
  core/database/foxx/tests/user_router.test.js
  core/database/tests/test_foxx.sh
Labels: Component: Database, Component: GridFTP Auth Module

#1228 Feature DLT 1120 retrieve transfer token
  web/datafed-ws.js
  web/services/auth/TokenHandler.js
  web/test/TokenHandler.test.js
Labels: Component: Web API, Component: Web UI

#1251 Bug daps 1243 datafed web logging
  web/datafed-ws.js
  web/services/auth/TokenHandler.js
Labels: Type: Bug, Component: Web API, Component: Web UI

#1240 [DLT-1110] Mapped Collection Endpoint Browse (1/4)
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
  web/static/dlg_start_xfer.js
  web/static/main_browse_tab.js
  web/static/models/transfer-model.js
  web/static/util.js
  web/views/main.ect
Labels: Type: New Feature, Component: Web UI, Type: Refactor

#1049 created a test class header for globus api
  core/server/GlobusAPI.hpp
  core/server/tests/unit/test_GlobusAPI.cpp
Labels: Type: Bug

#1051 created initial test case for database api
  core/server/DatabaseAPI.hpp
  core/server/tests/unit/CMakeLists.txt
  core/server/tests/unit/test_DatabaseAPI.cpp
Labels: Type: Bug

#1258 Fix edge case in GridFTP Authz where '/' is used
  CHANGELOG.md
  core/database/foxx/api/repo.js
  core/database/foxx/tests/repo.test.js
  repository/gridftp/globus5/authz/source/AuthzWorker.cpp
  repository/gridftp/globus5/authz/tests/unit/test_AuthzWorker.cpp
Labels: Type: Bug, Component: GridFTP Auth Module

#1260 1255 feature mock core server initial integration testing authz
  .gitignore
  CHANGELOG.md
  repository/gridftp/globus5/authz/CMakeLists.txt
  repository/gridftp/globus5/authz/mock_core/AuthMap.cpp
  repository/gridftp/globus5/authz/mock_core/AuthMap.hpp
  repository/gridftp/globus5/authz/mock_core/AuthenticationManager.cpp
  repository/gridftp/globus5/authz/mock_core/AuthenticationManager.hpp
  repository/gridftp/globus5/authz/mock_core/CMakeLists.txt
  repository/gridftp/globus5/authz/mock_core/ClientWorker.cpp
  repository/gridftp/globus5/authz/mock_core/ClientWorker.hpp
  repository/gridftp/globus5/authz/mock_core/Condition.cpp
  repository/gridftp/globus5/authz/mock_core/Condition.hpp
  repository/gridftp/globus5/authz/mock_core/Config.cpp
  repository/gridftp/globus5/authz/mock_core/Config.hpp
  repository/gridftp/globus5/authz/mock_core/IMockCoreServer.hpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.cpp
  repository/gridftp/globus5/authz/mock_core/MockCoreServer.hpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.cpp
  repository/gridftp/globus5/authz/mock_core/MockGlobals.hpp
  repository/gridftp/globus5/authz/mock_core/PublicKeyTypes.hpp
  repository/gridftp/globus5/authz/mock_core/Version.hpp.in
  repository/gridftp/globus5/authz/mock_core/main.cpp
  repository/gridftp/globus5/authz/source/libauthz.c
  repository/gridftp/globus5/authz/tests/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/integration/test_gsi_authz_init.cpp
  repository/gridftp/globus5/authz/tests/mock/CMakeLists.txt
  repository/gridftp/globus5/authz/tests/mock/mock_start.sh
  repository/gridftp/globus5/authz/tests/mock/mock_stop.sh
  repository/gridftp/globus5/authz/tests/mock/test_getVersion.cpp
Labels: Component: GridFTP Auth Module, Type: Test
