Repository ORNL/DataFed, pull requests merged in 2025-03, with the labels that each got.

#1334 Feature - Mapped Collection Token Support
  CHANGELOG.md
  common/proto/common/SDMS_Auth.proto
  core/database/CMakeLists.txt
  core/database/foxx/api/data_router.js
  core/database/foxx/api/lib/user_token.js
  core/database/foxx/api/models/DataFedOAuthToken.js
  core/database/foxx/api/models/globus_collection.js
  core/database/foxx/api/models/globus_token.js
  core/database/foxx/api/models/user.js
  core/database/foxx/api/support.js
  core/database/foxx/api/tasks.js
  core/database/foxx/api/user_router.js
  core/database/foxx/manifest.json.in
  core/database/foxx/tests/globus_collection_fixture.js
  core/database/foxx/tests/globus_collection_model.test.js
  core/database/foxx/tests/globus_token_fixture.js
  core/database/foxx/tests/globus_token_model.test.js
  core/database/foxx/tests/user_fixture.js
  core/database/foxx/tests/user_model.test.js
  core/database/foxx/tests/user_token.test.js
  core/database/tests/test_fixture_setup.sh
  core/server/DatabaseAPI.cpp
  core/server/TaskWorker.cpp
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
Labels: Type: New Feature, Component: Web API, Component: Web UI, Component: Database, Component: Core

#1343 Fix bug with playwright
  .gitlab/end_to_end.yml
Labels: Type: Bug

#1340 [DAPS-1330] Address Download Extension Transfer
  web/datafed-ws.js
  web/static/api.js
  web/static/components/endpoint-browse/index.js
  web/static/components/transfer/index.js
  web/static/components/transfer/transfer-dialog-controller.js
  web/static/components/transfer/transfer-endpoint-manager.js
  web/static/components/transfer/transfer-templates.js
  web/static/components/transfer/transfer-ui-manager.js
  web/static/dlg_data_new_edit.js
Labels: Component: Web UI

#1347 Parse md json strings
  core/database/foxx/api/data_router.js
  core/database/foxx/api/query_router.js
  core/server/DatabaseAPI.cpp
Labels: Type: Bug
