Repository ORNL/DataFed, pull requests merged in 2025-10, with the labels that each got.

#1675 Adding the logger functions for future PR's
  core/database/foxx/api/lib/logger.js
Labels: Type: New Feature, Component: Database, Priority: Low

#1670 1669 feature support core service protobuf message with repo types
  common/proto/common/SDMS.proto
  common/proto/common/SDMS_Auth.proto
  common/tests/unit/test_Buffer.cpp
Labels: Type: New Feature, Priority: Medium, Component: Foxx

#1629 [DAPS-1522] User router logging improvements
  core/database/foxx/api/user_router.js
Labels: Component: Database, Type: Refactor, Priority: Low
